.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container-HL, .Login-Form-HL, .Register-Form-HL {
  display: flex;
  flex-direction: column;
}

.auth-form-container-HL {
  padding: 5rem;
  border: 10px solid white;
  border-radius: 10px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.Login-Button-HL, .Link-Button-HL{
  border: none;
  background-color: white;
  margin-top: 1rem;
  padding: 20px;
  border-radius: 10px;
  color: #38a968;
  cursor: pointer;
}

.Link-Button-HL {
  background: none;
  color: white;
  text-decoration: underline;
}

